{% extends "tcb/layout.html" %}

{% block body %}

    <h2 class="col-lg-4 offset-lg-4 ">Login</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'tcb:login' %}" method="post" class="col-lg-4 offset-lg-4 ">
        {% csrf_token %}
        <!-- email input -->
        <div class="form-outline mb-4">
            <input type="email" id="email" class="form-control" name="email" />
            <label class="form-label" for="email">email</label>
        </div>
        <!-- Password input -->
        <div class="form-outline mb-4">
            <input type="password" id="password" class="form-control" name="password" />
            <label class="form-label" for="password">Password</label>
        </div>
        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
            <div class="col d-flex justify-content-center">
            <!-- Checkbox -->
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                <label class="form-check-label" for="form2Example31"> Remember me </label>
            </div>
            </div>

            <div class="col">
            <!-- Simple link -->
            <a href="#!">Forgot password?</a>
            </div>
        </div>
        <input class="btn btn-primary btn-block mb-4" type="submit" value="Login">
    </form>
<p class="col-lg-6 offset-lg-4 ">
    Don't have an account? <a href="{% url 'tcb:register' %}">Register here.</a>
</p>

{% endblock %}